.footer {
    width: 100%;
    min-height: 200px;
    /* Use min-height instead of fixed height */
    background: #21325e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    /* Add margin to create space between about and footer */
}

.socialMedia svg {
    color: white;
    margin: 10px;
    /* Adjust margin for spacing */
    font-size: 50px;
    /* Reduce font size for smaller screens */
    cursor: pointer;
}

.footer p {
    color: white;
    margin: 10px 0;
    /* Adjust margin for spacing */
}

@media only screen and (max-width: 600px) {
    .footer svg {
        font-size: 30px;
        /* Reduce font size for smaller screens */
    }
}