.resume {
  width: 100%;
  min-height: calc(100vh - 100px);
  /* Use min-height instead of fixed height */
  display: flex;
  flex-direction: column;
  justify-content: top;
  /* Center vertically */
  align-items: center;
  text-align: center;
  background-color: white;
  color: black;
}

.resume h2 {
  font-size: 80px;
  color: #e9d35b;
  margin: 40px 0;
  /* Adjust margin for spacing */
}

.resume h3 li {
  color: black;
  margin: 0px;
  /* Adjust margin for spacing */
}

.resume ul {
  list-style-type: none;
  /* Remove bullet points */
  margin-left: 0;
  /* Remove default left margin */
  padding-left: 0;
  /* Remove default left padding */
}

.resume li {
  margin-bottom: 8px;
  color: black;
}

.hover-effect a {
  color: blue;
  /* Change the text color to blue on hover */
  text-decoration: none;
  /* Remove underline */
  cursor: pointer;
  /* Change cursor to a pointer on hover */
}

.hover-effect a:hover {
  text-decoration: underline;
  /* Add underline on hover */
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }
}